{% extends "base.html" %}

{% block title %}
  {{user.username}}'s feed
{% endblock %}

{% block content %}

  {% for post in posts %}

  <link rel="stylesheets" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
  <div class="card bg-light mb-3 mx-auto mt-5 w-50" >
    <div class="card-header">{{post.title}}</div>
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{post.image}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5>{{ post.description }}</h5>
        </div>
      </div>
    </div>
    <div class="d-flex flex-direction-row">
      <div class="justify-content-around">
        <img
          src="{{post.author_image}}"
          alt="Generic placeholder image"
          class="img-fluid img-thumbnail mt-4 mb-2 "
          style="width: 50px; z-index: 1"
        />
        <a href="/account-profile/{{post.owner}}"><p class="card-text"><small class="text-muted">{{ post.author }}</p></a>
        <p class="card-text"><small class="text-muted">{{ post.time_created }}</p>
      </div>
    </div>
    {% for comment in comments %}
          {% if comment.post_id == post.id %}
            <p>{{comment.content}}</p>
            {% if user.id == comment.owner %}
            <a href="/delete-comment/{{comment.id}}"><button>Delete Comment</button></a>
            {% endif %}
          {% endif %}
    {% endfor %}
      <form  action="/feed/{{user.id}}" method="POST">
        {{form.content}}
      <div style="display: none;">{{form.post(value=post.id)}}</div>
      <div style="display: none;">{{form.submit}}</div>
      </form>
    {% if user.id == post.owner %}
    <a href="/delete-post/{{post.id}}"><button>Delete Post</button></a>
    {% endif %}
  </div>

  {% endfor %}


{% endblock %}