<ul class="nav justify-content-center" style="height: 5vh;" >
  <li class="nav-item" style="position: absolute; left:0px">
    <img src="{{url_for('static', filename='IMAGES/Logo.svg')}}">
  </li>
  {% if user != None %}
  <li class="nav-item">
    <a class="nav-link link-dark" href="/account-profile/{{user.id}}">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="/feed/{{user.id}}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="/create-post/{{user.id}}">Create Post</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-dark" href="/google/logout">Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link active link-dark" aria-current="page" href="/google/login">Login</a>
  </li>
  {% endif %}
</ul>